* {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(white, green, yellow);
    font-family: Arial;
   }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    display: inline-block;
   }
  
  header {
    text-align: center;
   /* margin-top: 10px;*/
    padding: 5px;
  }
  
  header p {
    font-size: 50%;
  }
 
  
  main {
    flex-wrap: wrap;
  
  }
  
  .card {
    display: block;
    flex-direction: row;
    cursor: pointer;
    width: 20%;
    height: 400px;
    float:left;
    overflow: hidden;
    border: 3px;
    border-style: dotted;
    border-radius: 10px;
    margin: 40px 40px 0 55px;
    padding: 15px;
    transition: 0.8s;
   }


  .name {
    margin:5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px white;
  
    
  }
  .card:hover {
    color: #1A237E;
  }
  
  .code {
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    height: 250px;
   }
  
  .card p {
    font-size: 100%;
    margin: 5px;
    padding: 5px;
  }
  
#footer {
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
}

  @media screen and(max-width:992px){
    header,
    main,
    #footer {
      width: 33%;
    }
  }
  
  @media screen and(max-width:768px){
    header,
    main, 
    #footer {
      flex-direction: column;
      width: 150%;
    }
  }